p {
  font-size: 20px;
 }
button {
  background-color: yellow;
  margin-left: 25px;
}
div {
  text-align: center;
}
.navbar-default {
    padding-bottom: 10px;
}
#info {
    position: fixed;
    top: 71px;
  }
#info p {
    font-size: 12px;
  }
#box {
    padding: 15px 15px;
    width: 90%;
    margin-left: 4%;
    margin-top: 7em;
    background-color:#4C3131;
    color: #fff;
}
#box p {
    font-size: 28px;
}
/*---------------------------------------------------------------
            @Media Starts
*/
@media screen and (max-width: 328px){
    #box {
        margin-top: 7em;
    }
}
@media screen and (max-width: 456px){
   #box {
        margin-top: 7.5em;
   }
}

@media screen and (max-width: 463px){
    #box{
        margin-left: 1%;
        margin-top: 1em;
        width: 98%;

    }
}

@media screen and (max-width: 480px){
    #box{
        margin-left: 1%;
        margin-top: 9em;
    }
}

@media screen and (max-width: 594px){
    .pRow {
         font-size: 15px;
    }
}